----H_FILE
vim ????.h
#pragma once
#include <iostream>
#include <memory>

class ???? {
public:
	typedef std::shared_ptr<????> ptr;

	????() { }

	virtual ~????() { }

private:
	
};

----CC_FILE
vim ????.cc
#include "????.h" 



int main() {
	std::cout << "Hello, ????" << std::endl;


	return 0;
}

----MK_FILE
vim mk
#!/bin/bash

clear
g++ ????.cc \
	\
-o ./bin/????.exe

./bin/????.exe


mkdir bin
mkdir tests
vim tests/test_????_base.cc

#include "../????.h"
void test_base() {
	//construct
	????* test = new ????( );


	//



}

int main() {
	std::cout << "Hello, ????!" << std::endl;
	test_base();
	


	return 0;
}



